<html>
	<head>
		<title>Jarboe Brewing's Blog</title>
	</head>
	<h1> Jarboe Brewing </h1>
	<h2> We Make Good Beer </h2>
	<body>
		<div>
			<h2><a href="">Test Post 1</a></h2>
			<p> I wrote a blog post </p>
		</div>

		<div>
			<h2><a href="">Test Post 2</a></h2>
			<p> I wrote a blog post </p>
		</div>

		<div>
			<h2><a href="">Test Post 3</a></h2>
			<p> I wrote a blog post </p>
		</div>

		<div>
			<h2><a href="">Test Post 4</a></h2>
			<p> I wrote a blog post </p>
		</div>


	</body>
</html>